{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="{% static 'note/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'note/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'note/css/templatemo-style.css' %}" />
    <title>World of Knowledge</title>
  </head>
<!--
Sided Template
https://templatemo.com/tm-527-sided
-->
  <body>
    
    <div class="columns-bg">
      <marquee>Happy birthday to our Premium User <h2 style="color: red;">Mr.Yuvrajsinh Gohil</h2></marquee>
      <!-- Logo & Intro -->
      <section id="logo" class="tm-section-logo">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12 offset-sm-0 col-md-6 offset-md-6">
              <div class="tm-site-name-container">
                <div class="tm-site-name-container-inner">
                  <h1 class="text-uppercase tm-text-primary tm-site-name">
                    World of Knowledge
                  </h1>
                  <p class="tm-text-primary tm-site-description">
                    <a href="https://world-of-knowledge.herokuapp.com/upload/">Create New Post</a>
                    
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Intro -->
      <section id="intro" class="tm-p-1-section-1">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="tm-section-text-container">
                <i class="tm-text-white">
                  <p class="mb-0" style="color: black;">
                    Welcome guys at the World of Knowledge to get Knowledge as much as possible. World of Knowledge provides you best content which is posted by honest person.You can also
                    post your Knowledge with other to provide them something new.
                  </p>
                </i>
              </div>
            </div>
          </div>
        </div>
      </section>

      
    

      <!-- Beautiful Rollovers -->
      <section id="gallery">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 tm-section-title-mb tm-gallery-title-col">
              <h2 class="tm-section-title-2">Beautiful Posts</h2>
              <hr class="tm-section-title-underline" />
            </div>

            

            <div class="col-12">
              <div class="grid" style="flex-wrap: wrap;">

                {% for post in posts %}


                <figure class="effect-duke">
                  <img
                    src="{% static 'note/img/forty_image_12.jpg' %}"
                    alt="Image"
                    class="img-fluid"
                  />
                  <figcaption>
                    <h2><span style="color: black;">{{ post.title|slice:10 }}</span></h2>
                    <p>{{ post.content|slice:20 }}</p>
                    <a href="https://world-of-knowledge.herokuapp.com/post-details/{{post.id}}">View more</a>
                  </figcaption>
                </figure>

                {% endfor %}
                
              </div>
            </div> 
            
          </div>
        </div>
      </section>


      
      
      <section id="outro">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="tm-section-text-container-5 tm-text-white">
                <p>
                  
                </p>
               
              </div>
            </div>

            <!-- logo section -->
            <div class="col-sm-12 col-md-6">
              <div class="tm-section-text-container-6">
                <a href="https://www.facebook.com/priyanshu.gohil.98/" class="tm-social-icon-container">
                  <span class="tm-social-icon-container-inner">
                    <i class="fab fa-facebook-f"></i>
                  </span>
                </a>
                <a href="https://twitter.com/PriyanshuGohil9" class="tm-social-icon-container">
                  <span class="tm-social-icon-container-inner">
                    <i class="fab fa-twitter"></i>
                  </span>
                </a>
                <a href="https://www.instagram.com/gohil_priyanshu_11555"  class="tm-social-icon-container">
                  <span class="tm-social-icon-container-inner">
                    <i class="fab fa-instagram"></i>
                  </span>
                </a>
                
              </div>
            </div>
          </div>
          <div class="row">
            <footer class="col-sm-12 col-md-6 offset-md-6 px-md-0">
              <p class="tm-copyright-text mb-0 tm-text-primary">
                Copyright &copy; 2021 World of Knowledge <br>
                
                - Design: <a rel="nofollow" href="https://www.instagram.com/gohil_priyanshu_11555">gohil_priyanshu_11555</a>
              </p>
            </footer>
          </div>
        </div>
      </section>
    </div>
    <call-us 
     style="position: fixed; right: 20px; bottom: 20px; 
         font-family: Arial; 
         z-index: 99999; 
         --call-us-form-header-background:#186c77;
         --call-us-main-button-background:#05d6d6;
         --call-us-client-text-color:#d4d4d4;
         --call-us-agent-text-color:#eeeeee;
         --call-us-form-height:330px;" 
     id="wp-live-chat-by-3CX" 
     channel-url="https://priyanshugohil1234.3cx.in" 
     files-url="https://priyanshugohil1234.3cx.in" 
     minimized="true" 
     animation-style="none" 
     party="priyanshugohil" 
     minimized-style="BubbleRight" 
     allow-call="true" 
     allow-video="true" 
     allow-soundnotifications="true" 
     enable-onmobile="true" 
     offline-enabled="true" 
     enable="true" 
     ignore-queueownership="false" 
     authentication="name" 
     operator-name="Support" 
     show-operator-actual-name="true" 
     channel="phone" 
     aknowledge-received="true" 
     gdpr-enabled="false" 
     gdpr-message="I agree that my personal data to be processed and for the use of cookies in order to engage in a chat processed by COMPANY, for the purpose of Chat/Support for the time of  30 day(s) as per the GDPR." 
     message-userinfo-format="both" 
     message-dateformat="both" 
     start-chat-button-text="Chat" 
     window-title="Live Chat & Talk" 
     button-icon-type="Default" 
     invite-message="Hello! How can we help you today?" 
     authentication-message="Could we have your name and email?" 
     unavailable-message="We are away, leave us a message!" 
     offline-finish-message="We received your message and we'll contact you soon." 
     ending-message="Your session is over. Please feel free to contact us again!" 
     greeting-visibility="none" 
     greeting-offline-visibility="none" 
     chat-delay="2000" 
     offline-name-message="Could we have your name?" 
     offline-email-message="Could we have your email?" 
     offline-form-invalid-name="I'm sorry, the provided name is not valid." 
     offline-form-maximum-characters-reached="Maximum characters reached" 
     offline-form-invalid-email="I'm sorry, that doesn't look like an email address. Can you try again?" 
     >
</call-us>


<script defer src="https://cdn.3cx.com/livechat/v1/callus.js" id="tcx-callus-js"></script>
    <!-- /.columns-bg -->
  </body>
</html>
